In [158]:
import pandas as pd    
data = {'No': [1,2,3],
        'Name': ['Colgate', 'Harpic','Rin'],
        "description":['no','no','no'],
        "price":[10,10,10]
       }    
df = pd.DataFrame(data)    
df.to_csv("data.csv")

In [204]:
df = pd.read_csv('data.csv')
df1 = pd.DataFrame(columns=['no','Name','description','price','unit','total_price'])
def findProductDetails(index,df1,df):
   index=index-1
   if index in df1['no']:
    data=df.loc[index]  
    data1=df1.loc[index]  
    df1.at[index,'total_price']=int(data[4])+int(data1[5])
    df1.at[index,'unit']=int(data1[4])+1
    return df1
   else:
    data=df.loc[index]   
    temp={"no":data[1],"Name":data[2],"description":data[3],"price":data[4],"unit":1,"total_price":data[4]}
    df1=df1.append(temp,ignore_index=True)
    return df1

In [253]:
df1=findProductDetails(2,df1,df)

In [254]:
df1.to_csv("bill.csv")

In [255]:
df1

  no     Name description price unit total_price
0  1  Colgate          no    10    8          80
1  2   Harpic          no    10    7          70
2  3      Rin          no    10    5          50

170